@font-face {
    font-family: 'Comic';
    src: url('fonte/ComicNeueSansID.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor: #f8afb6;

    --fonte-padrão: 'Comic' , sans-serif;
    --font-titulo: "Passion One", sans-serif;
    --font-secundaria: "Asap", sans-serif;
}

body{
    font-family: 'Comic';
    text-align: left;
}

:root{
    --cor: #f8afb6;

    --fonte-padrão: Comic;
}

header {
    background-color: #f8afb6;
    height: 30vh;
}

header h1{
    text-align: center;
    padding: 40px 0px 0px 0px;
    font-size: 3em;
    font-family: var(--font-titulo);
    font-weight: 900;
}

header p{
    font-family: var(--font-secundaria);
    font-weight: bold;
    text-align: center;
    padding: 30px 0px 0px 0px;
}
header p > a{
    text-decoration: none;
    color: rgb(3, 51, 72);
}

header p > a:hover{
    text-decoration: underline;
    color: rgb(209, 216, 222);
}
main p{
    padding: 20px;
    text-align: justify;
}

footer{
    padding: 5px;
    text-align: center;
    background-color: var(--cor);
    font-family: var(--font-secundaria);
}

footer p > a{
    text-decoration: none;
    color: rgb(3, 51, 72);
    font-weight: bold;
}

footer p > a:hover{
    text-decoration: underline;
    color: rgb(209, 216, 222);
}